<section id="body">
  <div class="wrapper padding">
    <div style="display: inline-block; width: 45%">
      {{ page.content }}
    </div>

    <div style="display: inline-block; width: 50%">
      <img src="{{ page.media['lion-hero.jpg'].url }}" style="width:100%" >
    </div>
  </div>
</section>