{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="wrapper">
    <h2>API Request Example</h2>
    <p>The text from this request comes from "https://jsonplaceholder.typicode.com/posts".</p>
    <button id="get-json">Get JSON</button>
    <button id="clear-text">Clear Text</button>
    <ul id="json-display"></ul>
  </div>
{% endblock %}