{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="wrapper">
    <h2>Cats</h2>
    {{ page.content }}
    <ul>
      {% for post in taxonomy.findTaxonomy({'family':'cat'}) %}
        <li>{{ post.title }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}